.h1{
  text-align: center;
  font-size: 30px;
  margin-top: 70px;
}

#h1{
  text-align: center;
  font-size: 30px;
  margin-top: 70px;
}

.line{
  margin-top: 20px;
  margin-bottom: 20px;
}


.p{
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 15px;
}

#intro{
  margin-top: 30px;
  margin-left: 40px;
  font-size: 25px;
  font-weight: bold;
}

#overview{
  margin-top: 30px;
  margin-left: 40px;
  font-size: 25px;
  font-weight: bold;
}

#proegs{
  margin-top: 30px;
  margin-left: 40px;
  font-size: 25px;
  font-weight: bold;
}

#htu{
  margin-top: 30px;
  margin-left: 40px;
  font-size: 25px;
  font-weight: bold;
}

#egs{
  margin-top: 30px;
  margin-left: 40px;
  font-size: 25px;
  font-weight: bold;
}

#prerequisites{
  margin-top: 30px;
  margin-left: 40px;
  font-size: 25px;
  font-weight: bold;
}

#libraries{
  margin-top: 30px;
  margin-left: 40px;
  font-size: 25px;
  font-weight: bold;
}

#features{
  margin-top: 30px;
  margin-left: 40px;
  font-size: 25px;
  font-weight: bold;
}

#audience{
  margin-top: 30px;
  margin-left: 40px;
  font-size: 25px;
  font-weight: bold;
}

#sitenav{
  margin-top: 30px;
  margin-left: 40px;
  font-size: 25px;
  font-weight: bold;
}

#installation{
  margin-top: 30px;
  margin-left: 40px;
  font-size: 25px;
  font-weight: bold;
}

#hta{
  margin-top: 30px;
  margin-left: 40px;
  font-size: 25px;
  font-weight: bold;
}

#tg{
  margin-top: 30px;
  margin-left: 40px;
  font-size: 25px;
  font-weight: bold;
}

#tpe{
  margin-top: 30px;
  margin-left: 40px;
  font-size: 25px;
  font-weight: bold;
}

#bpe{
  margin-top: 30px;
  margin-left: 40px;
  font-size: 25px;
  font-weight: bold;
}

#vit{
  margin-top: 30px;
  margin-left: 40px;
  font-size: 25px;
  font-weight: bold;
}

#alp{
  margin-top: 30px;
  margin-left: 40px;
  font-size: 25px;
  font-weight: bold;
}
