.h1{
  text-align: center;
  font-size: 30px;
  margin-top: 70px;
}

.line{
  margin-top: 20px;
  margin-bottom: 20px;
}

.p{
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 15px;
}

#tg{
  margin-top: 30px;
  margin-left: 40px;
  font-size: 25px;
  font-weight: bold;
}

#hta{
  margin-top: 30px;
  margin-left: 40px;
  font-size: 25px;
  font-weight: bold;
}

#overview{
  margin-top: 30px;
  margin-left: 40px;
  font-size: 25px;
  font-weight: bold;
}
